/* Sticky footer styles
-------------------------------------------------- */
html, body {
  height: 100%;
  margin: 0;
}

body {
  margin-bottom: 0;
}

.footer {
  background-color: #f5f5f5;
  width: 100%;
  position: relative;
  bottom: 0;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding-bottom: 60px; /* Menyesuaikan padding agar footer tidak menutupi konten */
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

@media (min-width: 768px) {
  .container {
    max-width: 100%; /* Menghilangkan batasan lebar agar lebih fleksibel */
  }
}

img {
  max-width: 100%;
  height: auto;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}